<div class="container">
  <div class="row">
    <div class="col-lg-12">
       <div style="height:400px; background-image: url({{recipeDetailController.recipe.image}});background-size:cover">
       </div>
       <h1 class="page-header">{{recipeDetailController.recipe.name}}</h1>
       <h2>{{recipeDetailController.recipe.description}}</h2>
       <br/>
       <h2>Ingredients:</h2>
       <ul ng-repeat="ingredient in recipeDetailController.recipe.ingredients">
          <li>{{ingredient.name}}</li>
       </ul>
       <h2>Directions:</h2>
       <ul ng-repeat="direction in recipeDetailController.recipe.directions">
          <li>{{direction}}</li>
       </ul>
       <h2>Reviews:</h2>
       <div class= "col-lg-12" ng-repeat="review in recipeDetailController.recipe.reviews">
          <div class="">
            <strong>{{review.user.name.firstName + " " + review.user.name.lastName + ": "}}</strong>
            <p>"{{review.description}}"</p>
             <p>{{review.rating}}</p>
          </div>
       </div>
    </div>
  </div>
</div>
